

body {
  background: linear-gradient(#e66465, #9198e5);
 }
#bienvenida {
  text-align: center;
  font-size: 20px;
  font-family: "Lobster Two", cursive;
  color: #5E4803;
}

#nombreDelJuego {
  text-align: center;
  font-size: 40px;
  color:   #9e6f12;

;
  font-family: "Lobster Two", cursive;
}

#explicacionDeCifrado {
  text-align: center;
  font-size: 20px;
  font-family: "Lobster Two", cursive;
  color: #5E4803;
}

#desp{
  text-align: center;
  font-size: 20px;
  color: #5E4803;
  font-family: "Lobster Two", cursive;
}

#datos{
  text-align: center;
  font-size: 20px;
  color: #5E4803;
  font-family: "Lobster Two", cursive;
}
